# Environment variables
.env

# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files
saved_models/
*.pkl
*.h5
*.keras

# Temporary files
*.tmp
*.temp